.cider_history
.nrepl-port
.nrepl-history
.cpcache
.sass-cache
.sass-tmp
.ctagsignore
.tags
.tags_sorted_by_file
.dir-locals.el
.projectile
.DS_Store
TAGS
target
logs
log
dist
*-local.edn
*.pid
*.paw
gpg.edn
node_modules
